tqdm
scipy
colorama
cython
pycocotools
visualdl >= 2.1.1
paddleslim == 2.1.0
shapely
opencv-python~=4.5.3.56
scikit-learn==0.23.2
lap
motmetrics
matplotlib~=3.2.2

numpy~=1.21.1
pillow~=8.3.1
paddlex~=2.0.0rc4